ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li{
    margin: 2px;
    padding: 0;
    float: left;
}
ul li  a{
    display: block;
    width: 120px;
    padding: 4px 0;
    text-decoration: none;
    text-align: center;
    font-size: 11px;
    color: red;
    background-color: orange;
}
ul li a:hover{
    color: rgb(36, 32, 255);
    background-color: darkkhaki;
}
li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
li:hover>ul{
   display: block;
}
li ul  li{
    position: relative;
    display: contents;
    
}